.flatpickr-day {
    border-radius: 0 !important;
    width: 2.5em;
    height: 2.5em;
    line-height: 1.4 !important;
    margin: 0.2em !important;
    display: flex;
    flex-direction:column;
    text-align: center;
    position: relative;
    vertical-align: top;
    
}

.price-info {
    
    display: block;
    font-size: 0.8em;
    color: #888;
    line-height: 1.2;
    text-align: center;
    margin-top: 0.4em;  
    width: 100%;
        
}
